<!-- views/cars.ejs -->
<!-- Form for adding a new car -->
<h2>Add New Car</h2>
<form action="/admin/cars/create" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br>
    <label for="model">Model:</label>
    <input type="text" id="model" name="model" required><br>
    <label for="year">Year:</label>
    <input type="text" id="year" name="year"><br>
    <label for="price">Price:</label>
    <input type="number" id="price" name="price" required><br>
    <label for="zto60">0-60 mph:</label>
    <input type="text" id="zto60" name="zto60"><br>
    <label for="speed">Top Speed:</label>
    <input type="text" id="speed" name="speed"><br>
    <label for="image">Image URL:</label>
    <input type="text" id="image" name="image"><br>

    <label for="description">Description:</label>
    <textarea id="description" name="description"></textarea><br>
    <label for="range">Range:</label>
    <input type="text" id="range" name="range"><br>
    <label for="rearLuggage">Rear Luggage Capacity:</label>
    <input type="text" id="rearLuggage" name="rearLuggage"><br>
    <button type="submit">Add Car</button>
</form>



<h1>Car List</h1>
<div class="list-of-cars">



    <% 
    cars.forEach(function(car)  { %>

        <div class="card">
            <div class="image-container-card">
                <img src="https://files.porsche.com/filestore/image/multimedia/none/jdp-2016-982-718-c7-modelimage-sideshot/model/1b1b5cb6-e874-11ea-80cd-005056bbdc38/porsche-model.png" alt="">
            </div>
            <div class="details">
                <h5>cayman</h5>
                <h5>
                    <%= car.name %>
                </h5>
                <h5>
                    <%= car.model %>
                </h5>
                <h5>
                    <%= car.year %>
                </h5>
                <h5>
                    <%= car.price %>
                </h5>
                <h5>
                    <%= car.zto60 %>
                </h5>
                <h5>
                    <%= car.speed %>
                </h5>
                <h5>
                    <%= car.description %>
                </h5>
                <h5>
                    <%= car.range %>
                </h5>
                <h5>
                    <%= car.rearLuggage %>
                </h5>


                <form action="/admin/cars/delete/<%= car.id %> " method="POST" onsubmit="return confirmDelete()">

                    <button type="submit">DELETE</button>
                </form>



                <a href="/admin/cars/edit/<%= car.id %> ">Edit</a>


            </div>





        </div>



        <% } )%>

</div>

<script>
    // Function to display confirmation dialog
    function confirmDelete() {
        return confirm("Are you sure you want to delete this car?");
    }
</script>